/Obligatorio-ejb/dist/
/Obligatorio-ejb/build/
/AppGestionPersistencia/build/
/AppGestionPersistencia/dist/
/AppGestionPersistencia/nbproject/private/
/Dominio/nbproject/private/
/Dominio/dist/
/Dominio/build/
/Ambulancia1/build/
/Ambulancia1/dist/
/Ambulancia1/nbproject/private/